.number-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-button {
  font-size: 79px;
  font-weight: bold;
  padding: 15px 20px;
  margin: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #2980b9;
}
