.games-heading {
    text-align: center;
    padding: 2rem 0;
  }
  
  .games-container {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5rem;
  }
  
  .games-card {
    background: #6e88b9;
    padding: 1rem;
    width: calc(25% - 20px); /* Adjust the width as needed */
    margin-bottom: 20px; /* Adjust the spacing between boxes */
    position: relative; /* Required for absolute positioning of buttons */
  }
  
  .games-card img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures images maintain aspect ratio */
  }
  
  .games-title {
    color: #fff;
    padding: 1rem 0;
  }
  
  .pro-details {
    padding-bottom: 3rem; /* Adjust the spacing between text and buttons */
    font-size: 1.1rem;
    text-align: justify;
  }
  
  .pro-btns {
    display: flex;
    justify-content: space-between;
    position: absolute; /* Position buttons at the bottom */
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .pro-btns .btn {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  