.games-heading {
    text-align: center;
    padding: 2rem 0;
  }
  
  .games-container {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5rem;
  }
  
  .games-card {
    background: #0d75bb;
    padding: 1rem;
    width: calc(25% - 20px); /* Adjust the width as needed */
    margin-bottom: 20px; /* Adjust the spacing between boxes */
    position: relative; /* Required for absolute positioning of buttons */
  }
  
  .games-card img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures images maintain aspect ratio */
  }
  
  .games-title {
    color: #fff;
    padding: 1rem 0;
  }
  
  .pro-details {
    padding-bottom: 3rem; /* Adjust the spacing between text and buttons */
    font-size: 0.9rem; /* Adjust the font size as needed */
    text-align: justify;
    font-family: "Times New Roman", serif; /* Set the desired font family */
    text-transform: lowercase; /* Convert the text to lowercase */
  }
  
  
  .pro-btns {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    position: absolute; /* Position buttons at the bottom */
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px; /* Adjust the padding-top value as needed */
  }
  
  
  
  .pro-btns .btn {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  