/* use for globally style for all over Games */


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{

  box-sizing: border-box;    /* use for width and height of element */
  margin: 0;                   /* margin is the outermost layer */
  padding: 0;
  font-family: 'Outfit', Arial;
}

body{
  background: #6db3db;
}

h1,
h4,
p,
a {
color: #fff;
text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{                             /*  use for create button and for that's styling which colour is yellow*/
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase ;
  background: rgb(212, 210, 196);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{                      /*  use for transparent button*/
  background: transparent;
  color: #fff;
}

.btn:hover{                      /* use for button hover when we hover on button colour is changed*/
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}